<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="UTF-8">
    <title>Director Page</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<header th:insert="fragments :: heading"></header>
<div class="content-wrapper">
    <div class="content">
        <span th:text="${director.directorFirstName} + ' ' + ${director.directorLastName}"
              th:object="${director}"></span>
    </div>
</div>
<footer th:insert="fragments :: languages"></footer>
</div>
</body>
</html>