<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="UTF-8">
    <title>New Director Form</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<header th:insert="fragments :: heading"></header>
<div class="content-wrapper">
    <div class="content">
        <form method="post" th:action="@{/newdirector}" th:object="${newDirectorForm}">
            <label for="newDirectorFirstName" th:text="#{newDirector.firstName}"></label>
            <input type="text" th:field="*{newDirectorFirstName}">
            <div th:if="${#fields.hasErrors('newDirectorFirstName')}" class="error" th:errors="*{newDirectorFirstName}"></div>
            <label for="newDirectorLastName" th:text="#{newDirector.lastName}"></label>
            <input type="text" th:field="*{newDirectorLastName}">
            <div th:if="${#fields.hasErrors('newDirectorLastName')}" class="error" th:errors="*{newDirectorLastName}"></div>

            <div th:if="${duplicateDirectorName}" class="error">
                <span th:text="${duplicateDirectorName}"></span>
                <span th:text="#{newDirector.alreadyExists}"></span>
            </div>
            <input type="submit" th:value="#{submit}">
        </form>
    </div>
</div>
<footer class="footer" th:insert="fragments :: languages"></footer>
</body>
</html>