<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="UTF-8">
    <title>Update Movie Name</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<header th:insert="fragments :: heading"></header>
<div class="content-wrapper">
    <div class="content">
        <form method="post" th:action="@{/updatemoviename}" th:object="${editMovieNameForm}">
            <label for="newMovieName" th:text="#{updateMovieName.newMovieName}"></label>
            <input type="text" th:field="*{newMovieName}">
            <div th:if="${#fields.hasErrors('newMovieName')}" class="error" th:errors="*{newMovieName}"></div>
            <div th:if="${duplicateMovieName}" class="error">
                <span th:text="${duplicateMovieName} + ' ' + #{newMovie.alreadyExists} + ${duplicateDirector}"></span>
            </div>
            <div class="break"></div>
            <label for="movieList" th:text="#{updateMovieName.rename}"></label>
            <select th:field="*{movieId}">
                <option th:each="movie: ${allMovies}"
                        th:text="${movie.movieName} + ', ' + ${movie.releaseYear}"
                        th:value="${movie.movieId}"></option>
            </select>
            <input type="submit" th:value="#{submit}">
        </form>
    </div>
</div>
<footer class="footer" th:insert="fragments :: languages"></footer>
</body>
</html>